/* Default StyleSheet */

html, body {
    position: absolute;
    min-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    font-family: "Segoe UI", "Segoe WP", "Verdana", "Arial";
    background-color: ###SPLASH###;
}
#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#cvs {
    position: absolute;
    min-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 0;
    opacity: 0;
    outline: none;
    overflow: hidden;
}
.hidden { display: none; }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#babylonUnmuteButton, #babylonUnmuteIconBtn {
    display: ###UNMUTE### !important;
}     

/* Cover Page Styles */

#warning {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 700;
    outline: none;
    overflow: hidden;
    pointer-events: none;
}
#portrait-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    z-index: 710;
    pointer-events: auto;
    background-color: ###SPLASH###;
}
#landscape-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    z-index: 710;
    pointer-events: auto;
    background-color: ###SPLASH###;
}
#standalone-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    z-index: 720;
    pointer-events: auto;
    background-color: ###SPLASH###;
}

/* Mobile Only Styles */

.zappar-mobile-only {
    background-color: ###SPLASH###;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000;
    color: ###TEXT###;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zappar-inner {
    max-width: 400px;
    text-align: center;
}
.zappar-title {
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}
.zappar-text {
    font-size: 14px;
    padding: 15px;
}

/* Mute Button Styles */

.button-container {
    position: absolute;
    bottom: 40px;
    left: 40px;
}
#mute-button {
    background: radial-gradient(100% 100% at 50% 0%, #FFFFFF 0%, #DFE1DF 100%);
    box-shadow: 0px 12px 20px rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 12px;
    width: 48px;
    height: 48px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    margin: 0;
    outline: 0;
}
#mute-button.mute-button-active {
    background: radial-gradient(100% 100% at 50% 0%, #008CCF 0%, #7AD0E4 100%);
}
@media (max-width: 959.95px){
    #mute-button {
        height: 36px;
        width: 36px;
    }
    .button-container {
        bottom: 50px;
    }
}